/*      GENERAL     */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200&display=swap");
@font-face {
  font-family: "BELLABIO";
  src: url(../fonts/Bellabio/Bellabio\ Regular.ttf);
}
html {
  font-family: "Gugi", cursive;
  max-width: 1600px;
  min-width: 300px;
  margin: 0 auto;
}

body {
  max-width: 100%;
}

.main {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  row-gap: 60px;
}

/* general */
a {
  text-decoration: none;
}

p,
h1,
h2 {
  margin: 0;
}

* {
  padding: 0;
  box-sizing: border-box;
  /* means that all the things inside have internal limits in order to hide y-scroll */
}

.container {
  width: 100%;
  margin: 0 auto;
}

/*      FORM STYLES     */
@media screen and (min-width: 767px) {
  .login-form__close-button {
    position: absolute;
    top: 30px;
    right: 30px;
  }
}
.login-form__container {
  width: 100%;
  min-height: 100vh;
  /*     ELEMS-POSITIONING    */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  /*      BG-POSITIONING     */
  background: #2D474F;
}
.login-form__container .login-form__wrapper {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  background: 0 0;
  padding: 30px 0 50px 0;
}
.login-form__container .login-form__wrapper .login-form__title {
  font-size: 32px;
  color: black;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  display: block;
}
.login-form__container .login-form__wrapper .login-form__title .login-form__picture .login-form__close-button {
  display: block;
  float: right;
}
.login-form__container .login-form__wrapper .login-form__title .login-form__picture .login-form__close-button:hover {
  cursor: pointer;
}
.login-form__container .login-form__wrapper .login-form__title .login-form__picture .logo-img {
  margin-left: 10px;
  max-width: 30%;
}
.login-form__container .login-form__wrapper .login-form__title .login-form__picture .logo-img__text {
  font-family: BELLABIO;
  color: white;
  font-weight: 600;
  font-size: 21px;
  font-style: italic;
  text-transform: none;
  line-height: 20px;
  margin-top: 15px;
  text-align: center;
  width: 100%;
}

.login-form {
  width: 100%;
  padding: 5px 0 5px 0;
}
.login-form .social-nets {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 20px;
}
.login-form .social-nets.facebook-connection {
  background-color: #185DAE;
}
.login-form .social-nets.google-connection {
  background-color: white;
}
.login-form .social-nets.google-connection .social-nets__text {
  color: black;
}
.login-form .social-nets .social-img {
  width: 5%;
}
.login-form .social-nets .social-nets__text {
  color: white;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.login-form .social-nets .social-nets__text:hover {
  cursor: pointer;
}
.login-form .above-input {
  margin: 30px 0;
}
.login-form .above-input.line {
  height: 2px;
  border: none;
  background-color: white;
}
.login-form .under-button,
.login-form .under-wrap {
  display: flex;
}
.login-form .under-wrap {
  flex-direction: row-reverse;
  margin-right: 25px;
  padding: 0;
}
.login-form .under-button {
  justify-content: center;
  margin-top: 15px;
}
.login-form .help-text {
  font-family: "Jost", sans-serif;
  color: white;
}
.login-form .help-text:hover {
  cursor: pointer;
  text-decoration: underline;
}
.login-form .wrap-input {
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
  width: 90%;
  margin: auto;
  background: white;
  padding: 10px 0;
  border-radius: 10px;
}
.login-form .wrap-input figure {
  margin-top: 3px;
  margin-left: 15px;
}
.login-form .wrap-input img {
  width: 70%;
}
.login-form .wrap-input .show-pass:hover {
  cursor: pointer;
}
.login-form .wrap-input.validate-input {
  margin-bottom: 25px;
  position: relative;
}
.login-form .wrap-input.validate-input.second {
  margin-bottom: 15px;
}
.login-form .wrap-input.validate-input .input {
  font-size: 14px;
  font-weight: 300;
  display: block;
  width: 100%;
  height: 20px;
  background: 0 0;
  padding: 0 10px 0 8px;
  transition: all 0.4s;
}
.login-form .wrap-input.validate-input .input::-webkit-input-placeholder {
  color: rgba(2, 23, 0, 0.3);
}
.login-form .wrap-input.validate-input .input:focus::-webkit-input-placeholder {
  color: transparent;
  transition: 500ms;
}

.container-login-form__btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0px;
}
.container-login-form__btn .login-form__btn {
  font-size: 16px;
  color: #2D474F;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 130px;
  height: 42px;
  border-radius: 21px;
  position: relative;
  background: white;
  font-weight: 700;
}
.container-login-form__btn .login-form__btn:hover {
  cursor: pointer;
}

/*      SUB-GENERAL     */
button {
  border: none;
}

input {
  outline: none;
  border: none;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/*     CURSOR-SETTINGS    */
#errorMsg {
  font-size: 17px;
  font-weight: 500;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

body {
  background: linear-gradient(114.23deg, #594444 14.64%, rgba(0, 0, 0, 0.7) 47.07%, #475F66 80.65%);
}

.slideshow__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  margin: 40px;
  position: relative;
  top: 80px;
  font-family: "Gugi", sans-serif;
  font-style: normal;
  font-weight: 250;
  font-size: 1.5em;
  line-height: 52px;
  color: white;
}

.slideshow__img {
  width: 100%;
}

.slideshow__text {
  position: absolute;
  padding: 8px 12px;
  margin-top: -80px;
  left: 5%;
}

.slideshow__dots {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
}

.slideshow__dot {
  cursor: pointer;
  top: 848px;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #7D7373;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active2,
.slideshow__dot:hover {
  background-color: #98cada;
}

.arrow {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 26px;
  margin-top: -30px;
  color: #7D7373;
  font-size: 2.5em;
  transition: 0.6s ease;
}

.next {
  right: -1%;
}

.prev {
  left: -1%;
}

.movies {
  width: 100%;
  margin: 0 auto;
  font-family: "Gugi", sans-serif;
  color: white;
}
.movies__anime, .movies__popular, .movies__fantastika, .movies__drama {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  margin: 30px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.movie {
  width: 100%;
}
.movie__title {
  text-align: center;
  font-size: 1.5em;
  line-height: 52px;
  margin: 0 40px;
  background-color: rgba(9, 7, 7, 0.64);
  border-radius: 15px;
}
.movie__img {
  height: 300px;
  position: relative;
  border-radius: 25px;
  cursor: pointer;
}
.movie__img:hover {
  transform: translateY(-10px);
  box-shadow: 8px 10px 5px 2px #b2c0c0;
}
.movie__year, .movie__rating {
  font-size: 1em;
  line-height: 26px;
  margin: 0;
}
.movie__link {
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: rgba(156, 201, 215, 0.67);
  color: #594444;
}
.movie__link:hover {
  background-color: #3a3a3a;
}
.movie__description {
  margin: 20px 50px;
}

.movie2 {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 110;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.movie2 div {
  font-family: "Comfortaa";
  font-size: 1.1em;
  font-style: normal;
  overflow: auto;
  background-color: #475F66;
  border-radius: 30px;
  width: 60%;
  height: 90%;
  margin: 0 auto;
  margin-top: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.movie2 .movie__name {
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .slideshow__container {
    top: 50px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .slideshow__dots {
    margin-top: 0;
  }
  .movie2 {
    font-size: 1.2em;
  }
  .movie2 div {
    width: 80%;
    height: 90%;
  }
  .movie__description {
    margin: 20px 10px;
  }
}
@font-face {
  font-family: "BELLABIO";
  src: url(../fonts/Bellabio/Bellabio\ Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.payment {
  min-height: 100vh;
  font-family: "Gugi", cursive;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: linear-gradient(114.23deg, #594444 14.64%, rgba(0, 0, 0, 0.7) 47.07%, #475f66 80.65%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.payment__wrapper {
  margin: 6% auto 0 auto;
  width: 85%;
}
.payment__step {
  margin: 2% 15%;
  display: flex;
  justify-content: center;
  gap: 5%;
}
.payment__steps {
  display: flex;
  align-items: center;
  gap: 2%;
}
.payment__number {
  background: #475f66;
  padding: 15px;
  color: white;
}
.payment__text {
  color: white;
  text-transform: uppercase;
}
.payment__text_chosen {
  color: #ebff9a;
  cursor: pointer;
}
.payment__text_one:hover {
  cursor: pointer;
}
.payment__change-color {
  color: #68acbf;
}
.payment__line {
  background-color: white;
  width: 45px;
  height: 5px;
}
.payment .unlimited {
  margin: 0 50px 25px 0;
}
.payment .unlimited__title {
  color: #b9b78d;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 30px;
}
.payment .unlimited__picture {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.payment .unlimited__picture-one {
  max-width: 100%;
}
.payment .unlimited__pic-text {
  color: white;
  text-transform: uppercase;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}
.payment .unlimited__main-block {
  display: grid;
  grid-template-columns: 30% 70%;
}
.payment .unlimited__text {
  margin-left: 5%;
  color: white;
  font-weight: 100;
  font-size: 2rem;
  line-height: 51px;
  text-align: justify;
}
.payment__packages {
  margin-bottom: 100px;
}
.payment__tariff {
  display: flex;
  justify-content: space-between;
  gap: 3%;
}
.payment__tariff-block {
  background-image: url("../images/payment/films-pic.png");
  background-repeat: no-repeat;
  width: 100%;
  padding: 5.5%;
  border-radius: 50px;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
}
.payment__tariff-block:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.payment__on-click, .payment__on-click2, .payment__on-click3 {
  background-color: rgba(0, 0, 255, 0.427);
  border-radius: 40px;
  padding: 5px;
  text-align: center;
  display: none;
}
.payment__first-step {
  display: block;
}

.second-page {
  display: none;
}
.second-page__wrapper {
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: 30% 70%;
}
.second-page__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-page__main {
  display: flex;
}
.second-page__pic-text {
  font-family: BELLABIO;
  color: white;
  font-weight: 400;
  font-size: 50px;
  line-height: 91px;
  margin-top: 10px;
  text-align: center;
  color: white;
  width: 100%;
}
.second-page__main {
  display: flex;
  flex-direction: column;
}
.second-page .main-block {
  margin-left: 10%;
}
.second-page .main-block__title {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 250;
  font-size: 35px;
  line-height: 70px;
  text-decoration-line: underline;
}
.second-page .main-block__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.second-page .main-block__blue {
  font-weight: 250;
  font-size: 20px;
  line-height: 52px;
  color: #68acbf;
}
.second-page .main-block__premium-acc {
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 52px;
}
.second-page .main-block__premium-acc:after {
  content: "";
  display: block;
  height: 2px;
  background: white;
}
.second-page .main-block__package-name, .second-page .main-block__valid-date, .second-page .main-block__exp-date {
  margin-left: 5%;
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 52px;
}
.second-page .main-block__total {
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 52px;
}
.second-page .main-block__cards {
  margin-top: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.second-page .main-block .block-total:after {
  content: "";
  display: block;
  height: 2px;
  background: white;
  width: 100%;
}
.second-page .main-block__label {
  margin-left: 5%;
}
.second-page .main-block__button {
  margin-top: 1%;
  display: flex;
  justify-content: center;
}
.second-page .main-block__submit {
  padding: 1%;
  outline: none;
  font-weight: 250;
  font-size: 25px;
  letter-spacing: 2px;
  color: #475f66;
  line-height: 44px;
  border: none;
  border-radius: 40px;
  background-color: white;
  text-transform: uppercase;
  width: 250px;
}
.second-page .main-block__card-container {
  display: block;
}
.second-page .main-block .main-block__submit:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: #68acbf;
}
.second-page .main-block__bank-card {
  display: none;
  opacity: 1;
  visibility: visible;
  position: relative;
}

.card {
  margin: auto;
  width: 600px;
  padding: 3rem 3.5rem;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 1;
  visibility: visible;
  position: sticky;
}
.card__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.modal__wrapper {
  padding: 3%;
  border-radius: 50px;
  box-shadow: 14px 16px 100px 18px #68acbf;
}

.mt-50 {
  margin-top: 50px;
}

.card-title {
  font-weight: 700;
  font-size: 2.5em;
}

.nav {
  display: flex;
}
.nav ul {
  list-style-type: none;
  display: flex;
  padding-inline-start: unset;
  margin-bottom: 6vh;
}
.nav li a {
  color: black;
  text-decoration: none;
}

.active {
  font-weight: bold;
}

input {
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  width: 100%;
  min-width: unset;
  background-color: transparent;
  border-color: transparent;
  margin: 0;
}

input[type=text] {
  border-color: rgba(128, 128, 128, 0.345) !important;
}

.inputbox #input__border,
.inputbox #input__border2,
.inputbox #input__border3,
.inputbox #input__border4 {
  color: #000;
}

form a {
  color: grey;
  text-decoration: none;
  font-size: 0.87rem;
  font-weight: bold;
}
form a :hover {
  color: grey;
  text-decoration: none;
}
form .row-1 {
  border: 1px solid rgba(221, 228, 236, 0.459);
  margin: 2vh 0;
  padding: 0.5rem;
  outline: none;
  width: 100%;
  min-width: unset;
  border-radius: 5px;
  background-color: rgba(221, 228, 236, 0.301);
  overflow: hidden;
}
form .row-2 {
  border: none;
  outline: none;
  background-color: transparent;
  margin: 0;
  padding: 0 0.8rem;
}
form .row .row-2 {
  border: none;
  outline: none;
  background-color: transparent;
  margin: 0;
  padding: 0 0.8rem;
}
form .row .col-2,
form .row .col-7,
form .row .col-3 {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 1vh;
}
form .row .col-2 {
  padding-right: 0;
}

#card-header {
  font-weight: bold;
  font-size: 0.9rem;
}

#card-inner {
  font-size: 0.7rem;
  color: gray;
}

.three {
  overflow: hidden;
  justify-content: space-between;
}
.three .col-7 {
  padding-left: 0;
}
.three .col-2 {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 0.5rem;
  outline: none;
  width: 100%;
  min-width: unset;
  border-radius: 5px;
  background-color: rgba(221, 228, 236, 0.301);
  border-color: rgba(221, 228, 236, 0.459);
  margin: 2vh 0;
  width: fit-content;
  overflow: hidden;
}
.three .col-2 input {
  font-size: 0.7rem;
  margin-left: 1vh;
}

.btn {
  width: 100%;
  color: white;
  justify-content: center;
  padding: 2vh 0;
  margin-top: 3vh;
  border-radius: 50px;
  border-color: #475f66;
  color: #475f66;
  background-color: white;
}

.btn:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  transition: none;
}

.btn:hover {
  color: white;
  background-color: #475f66;
}

.payment-errors__style {
  background-color: rgb(49, 15, 219);
  border-radius: 5px;
  width: 80%;
  color: white;
  transition: background-color 2s ease-out;
}

@media (max-width: 767px) {
  .card {
    width: 90%;
    padding: 1.5rem;
  }
}
@media (height: 1366px) {
  .card {
    width: 90%;
    padding: 8vh;
  }
}
@media screen and (max-width: 767px) {
  body {
    max-width: 100%;
  }
  .payment__wrapper {
    margin: 12% 2% 2% 2%;
  }
  .payment__step {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1%;
  }
  .payment__line {
    display: none;
  }
  .payment__tariff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .payment__tariff-block {
    padding: 3.5%;
    font-size: 20px;
    margin-bottom: 2%;
    align-self: center;
  }
  .payment__tariff-block p {
    text-align: center;
  }
  .payment__tariff-block:hover {
    transform: scale(1.1);
    margin: 5% 0% 5% 10%;
  }
  .payment .unlimited {
    margin: 10px 0;
  }
  .payment .unlimited__main-block {
    display: flex;
  }
  .payment .unlimited__text {
    font-size: 1em;
    font-weight: lighter;
    line-height: 25px;
  }
  .payment .second-page__wrapper {
    display: flex;
  }
  .payment .second-page__logo {
    display: none;
  }
  .payment .second-page .main-block__title {
    font-size: 2em;
  }
}
@media (max-width: 450px) {
  .payment__wrapper {
    margin: 15% 2% 2% 2%;
  }
  .payment .second-page__wrapper {
    display: flex;
  }
  .payment .second-page__logo {
    display: none;
  }
  .payment .second-page .main-block {
    margin-left: 0;
    width: 100%;
  }
  .payment .second-page .main-block__title {
    font-size: 2em;
  }
  .payment .second-page .main-block__blue {
    font-size: 1em;
  }
  .payment .second-page .main-block__premium-acc {
    font-size: 1.2em;
  }
  .payment .second-page .main-block__package-name, .payment .second-page .main-block__valid-date, .payment .second-page .main-block__exp-date {
    margin-left: 0;
    font-size: 1em;
  }
  .payment .second-page .main-block__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .payment .second-page .main-block__card {
    padding: 5% 0 5% 0;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .payment__packages {
    margin-right: 5%;
  }
  .payment__tariff-block {
    padding: 3.5%;
  }
  .payment__tariff-block:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header__container {
  color: white;
  padding-right: 10px;
  align-items: center;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.301);
  z-index: 2;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header__logo {
  flex: 0 0 100px;
  position: relative;
  z-index: 3;
}
.header__logo .logo {
  max-width: 100%;
  display: block;
}

.header__list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  position: relative;
  z-index: 2;
}
.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}

.header__link {
  color: white;
  text-decoration: none;
}

.header__burger {
  display: none;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  color: white;
  font-weight: lighter;
}

button[type=submit] {
  background-color: rgba(76, 175, 79, 0);
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #68acbf;
}

.fa {
  font-size: 20px;
}

.header__menu {
  width: 100%;
  height: 100%;
}

@media (max-width: 1023px) {
  body.lock {
    overflow: hidden;
  }
  .header__body {
    height: 50px;
  }
  .header__logo {
    flex: 0 0 60px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger_Span {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: -100%;
    background-color: #594444;
    padding: 70px 10px 20px 10px;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
    transition: all 0.3s ease 0s;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0px 0px 20px 0px;
  }
  .search-box {
    float: left;
  }
  .search-boxInput[type=text] {
    padding: 5px;
    margin-top: 7px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    float: none;
  }
  .search-box button {
    padding: 5px;
    margin-top: 7px;
    margin-right: 15px;
    border: none;
    cursor: pointer;
    background-color: rgba(14, 14, 14, 0);
  }
  .search-box button:hover {
    font-size: 25px;
    background-color: rgba(9, 7, 7, 0.64);
    border-radius: 15px;
  }
}/*# sourceMappingURL=app.css.map */