/*      GENERAL     */
@font-face {
  font-family: "BELLABIO";
  src: url(../fonts/Bellabio/Bellabio\ Regular.ttf);
}
html {
  font-family: "Gugi", cursive;
  max-width: 1600px;
  min-width: 300px;
  margin: 0 auto;
}

body {
  max-width: 100%;
}

.main {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  row-gap: 60px;
}

/* general */
a {
  text-decoration: none;
}

p,
h1,
h2 {
  margin: 0;
}

* {
  padding: 0;
  box-sizing: border-box;
  /* means that all the things inside have internal limits in order to hide y-scroll */
}

.container {
  width: 100%;
  margin: 0 auto;
}

/*      FORM STYLES     */
.login-form__container {
  width: 100%;
  min-height: 100vh;
  /*     ELEMS-POSITIONING    */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  /*      BG-POSITIONING     */
  background: #2D474F;
}
.login-form__container .login-form__wrapper {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  background: 0 0;
  padding: 30px 0 50px 0;
}
.login-form__container .login-form__wrapper .login-form__title {
  padding-bottom: 41px;
  font-size: 32px;
  color: black;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  display: block;
}
.login-form__container .login-form__wrapper .login-form__title .login-form__picture .logo-img {
  max-width: 30%;
}
.login-form__container .login-form__wrapper .login-form__title .login-form__picture .logo-img__text {
  font-family: BELLABIO;
  color: white;
  font-weight: 600;
  font-size: 21px;
  font-style: italic;
  text-transform: none;
  line-height: 20px;
  margin-top: 15px;
  text-align: center;
  width: 100%;
}

.login-form {
  width: 100%;
  padding: 5px 0 5px 0;
}

.wrap-input {
  width: 90%;
  margin: auto;
  background: white;
  padding: 10px 0;
  border-radius: 10px;
}
.wrap-input.validate-input {
  margin-bottom: 20px;
  position: relative;
}

.input {
  font-size: 14px;
  font-weight: 300;
  color: rgb(4, 55, 0);
  display: block;
  width: 100%;
  height: 20px;
  background: 0 0;
  padding: 0 10px 0 60px;
  transition: all 0.4s;
}

.container-login-form__btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.container-login-form__btn .login-form__btn {
  font-size: 16px;
  color: #2D474F;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 130px;
  height: 42px;
  border-radius: 21px;
  position: relative;
  background: white;
}
.container-login-form__btn .login-form__btn:hover {
  cursor: pointer;
}

/*      SUB-GENERAL     */
button {
  border: none;
}

input {
  outline: none;
  border: none;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/*     CURSOR-SETTINGS    */
#errorMsg {
  font-size: 17px;
  font-weight: 500;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

body {
  background: linear-gradient(114.23deg, #594444 14.64%, rgba(0, 0, 0, 0.7) 47.07%, #475F66 80.65%);
}

.slideshow__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  margin: 40px;
  margin-bottom: 0;
  position: relative;
  font-family: "Gugi", cursive;
  font-style: normal;
  font-weight: 250;
  font-size: 30px;
  line-height: 52px;
  color: #FFFFFF;
}

.slideshow__img {
  width: 100%;
}

.slideshow__text {
  position: absolute;
  padding: 8px 12px;
  margin-top: -80px;
  left: 5%;
}

.dots {
  text-align: center;
  margin-bottom: 30px;
}

.dot {
  cursor: pointer;
  top: 848px;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #7D7373;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #97A7AC;
}

.arrow {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 26px;
  margin-top: -30px;
  color: #7D7373;
  font-size: 60px;
  transition: 0.6s ease;
}

.next {
  right: -1%;
}

.prev {
  left: -1%;
}

.movies {
  width: 100%;
  margin: 0 auto;
  font-family: "Gugi", cursive;
  font-style: normal;
  font-weight: 250;
  color: #FFFFFF;
}

.movie__title {
  width: 15%;
  text-align: center;
  font-size: 30px;
  line-height: 52px;
  margin-left: 40px;
  background-color: rgba(9, 7, 7, 0.64);
  border-radius: 15px;
}

.movies__anime, .movies__popular, .movies__fantastika, .movies__drama {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  margin: 30px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.movie {
  width: 100%;
}

.movie__img {
  height: 300px;
  position: relative;
  border-radius: 25px;
  cursor: pointer;
}

.movie__img:hover {
  transform: translateY(-10px);
  box-shadow: 8px 10px 5px 2px #b2c0c0;
}

.movie__year, .movie__rating {
  font-size: 15px;
  line-height: 26px;
  margin: 0;
}

@font-face {
  font-family: "BELLABIO";
  src: url(../fonts/Bellabio/Bellabio\ Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.payment {
  min-height: 100%;
  font-family: "Gugi", cursive;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: linear-gradient(114.23deg, #594444 14.64%, rgba(0, 0, 0, 0.7) 47.07%, #475f66 80.65%);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.payment__wrapper {
  margin: 0px auto;
  width: 85%;
}
.payment__step {
  margin: 5% 15%;
  display: flex;
  justify-content: center;
  gap: 5%;
}
.payment__steps {
  display: flex;
  align-items: center;
  gap: 2%;
}
.payment__number {
  background: #475f66;
  padding: 15px;
  color: white;
}
.payment__text {
  color: white;
  text-transform: uppercase;
}
.payment__text_chosen {
  color: #ebff9a;
}
.payment__line {
  background-color: white;
  width: 45px;
  height: 5px;
}
.payment .unlimited {
  margin: 0 50px 50px 0;
}
.payment .unlimited__title {
  color: #b9b78d;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 30px;
}
.payment .unlimited__picture {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.payment .unlimited__picture-one {
  max-width: 100%;
}
.payment .unlimited__pic-text {
  text-transform: uppercase;
  margin-top: 10px;
  text-align: center;
  color: white;
  width: 100%;
}
.payment .unlimited__main-block {
  display: grid;
  grid-template-columns: 30% 70%;
}
.payment .unlimited__text {
  margin-left: 5%;
  color: white;
  font-weight: 100;
  font-size: 2rem;
  line-height: 51px;
  text-align: justify;
}
.payment__tariff {
  display: flex;
  justify-content: space-between;
  gap: 3%;
}
.payment__tariff-block {
  background-image: url("../images/payment/films-pic.png");
  background-repeat: no-repeat;
  padding: 5.5%;
  border-radius: 50px;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
}
.payment__tariff-block:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.payment__on-click, .payment__on-click2, .payment__on-click3 {
  background-color: rgba(0, 0, 255, 0.427);
  border-radius: 40px;
  padding: 5px;
  text-align: center;
  display: none;
}
.payment__first-step {
  display: block;
}

.second-page {
  display: none;
}
.second-page__wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
}
.second-page__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-page__main {
  display: flex;
}
.second-page__pic-text {
  font-family: BELLABIO;
  color: white;
  font-weight: 400;
  font-size: 50px;
  line-height: 91px;
  margin-top: 10px;
  text-align: center;
  color: white;
  width: 100%;
}
.second-page__main {
  display: flex;
  flex-direction: column;
}
.second-page .main-block {
  margin-left: 10%;
}
.second-page .main-block__title {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-style: normal;
  font-weight: 250;
  font-size: 35px;
  line-height: 70px;
  text-decoration-line: underline;
}
.second-page .main-block__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.second-page .main-block__blue {
  font-weight: 250;
  font-size: 20px;
  line-height: 52px;
  color: #68acbf;
}
.second-page .main-block__premium-acc {
  text-transform: uppercase;
  color: white;
  font-size: 25px;
  line-height: 52px;
}
.second-page .main-block__premium-acc:after {
  content: "";
  display: block;
  height: 2px;
  background: white;
}
.second-page .main-block__package-name, .second-page .main-block__valid-date, .second-page .main-block__exp-date {
  margin-left: 5%;
  text-transform: uppercase;
  color: white;
  font-size: 25px;
  line-height: 52px;
}
.second-page .main-block__total {
  text-transform: uppercase;
  color: white;
  font-size: 25px;
  line-height: 52px;
}
.second-page .main-block__cards {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.second-page .main-block .block-total:after {
  content: "";
  display: block;
  height: 2px;
  background: white;
  width: 100%;
}
.second-page .main-block__card {
  display: flex;
  justify-content: start;
  align-items: center;
}
.second-page .main-block__label {
  margin-left: 5%;
}
.second-page .main-block__button {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
.second-page .main-block__submit {
  padding: 1%;
  outline: none;
  font-weight: 250;
  font-size: 25px;
  letter-spacing: 2px;
  color: #475f66;
  line-height: 44px;
  border: none;
  border-radius: 40px;
  background-color: white;
  text-transform: uppercase;
}
.second-page .main-block .main-block__submit:hover {
  transform: scale(1.2);
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 26px 47px 0px 10px;
  height: 100px;
}

a {
  float: left;
  display: block;
  color: white;
}
a:hover {
  color: rgba(9, 7, 7, 0.64);
  font-size: 25px;
}

.search-box {
  float: right;
}

input[type=text] {
  padding: 5px;
  margin-top: 7px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.search-box button {
  padding: 5px;
  margin-top: 7px;
  margin-right: 15px;
  border: none;
  cursor: pointer;
  background-color: rgba(14, 14, 14, 0);
}
.search-box button:hover {
  font-size: 25px;
  background-color: rgba(9, 7, 7, 0.64);
  border-radius: 15px;
}

.active,
.dot:hover {
  background-color: rgba(0, 0, 0, 0);
}/*# sourceMappingURL=app.css.map */