@font-face {
  font-family: "BELLABIO";
  src: url(../fonts/Bellabio/Bellabio\ Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.payment {
  min-height: 100%;
  font-family: "Gugi", cursive;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: linear-gradient(114.23deg, #594444 14.64%, rgba(0, 0, 0, 0.7) 47.07%, #475f66 80.65%);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.payment__wrapper {
  margin: 0px auto;
  width: 85%;
}
.payment__step {
  margin: 5% 15%;
  display: flex;
  justify-content: center;
  gap: 5%;
}
.payment__steps {
  display: flex;
  align-items: center;
  gap: 2%;
}
.payment__number {
  background: #475f66;
  padding: 15px;
  color: white;
}
.payment__text {
  color: white;
  text-transform: uppercase;
}
.payment__text_chosen {
  color: #ebff9a;
}
.payment__line {
  background-color: white;
  width: 45px;
  height: 5px;
}
.payment .unlimited {
  margin: 0 50px 50px 0;
}
.payment .unlimited__title {
  color: #b9b78d;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 30px;
}
.payment .unlimited__picture {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.payment .unlimited__picture-one {
  max-width: 100%;
}
.payment .unlimited__pic-text {
  text-transform: uppercase;
  margin-top: 10px;
  text-align: center;
  color: white;
  width: 100%;
}
.payment .unlimited__main-block {
  display: grid;
  grid-template-columns: 30% 70%;
}
.payment .unlimited__text {
  margin-left: 5%;
  color: white;
  font-weight: 100;
  font-size: 2rem;
  line-height: 51px;
  text-align: justify;
}
.payment__tariff {
  display: flex;
  justify-content: space-between;
  gap: 3%;
}
.payment__tariff-block {
  background-image: url("../images/payment/films-pic.png");
  background-repeat: no-repeat;
  padding: 5.5%;
  border-radius: 50px;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
}
.payment__tariff-block:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.payment__on-click, .payment__on-click2, .payment__on-click3 {
  background-color: rgba(0, 0, 255, 0.427);
  border-radius: 40px;
  padding: 5px;
  text-align: center;
  display: none;
}
.payment__first-step {
  display: block;
}

.second-page {
  display: none;
}
.second-page__wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
}
.second-page__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-page__main {
  display: flex;
}
.second-page__pic-text {
  font-family: BELLABIO;
  color: white;
  font-weight: 400;
  font-size: 50px;
  line-height: 91px;
  margin-top: 10px;
  text-align: center;
  color: white;
  width: 100%;
}
.second-page__main {
  display: flex;
  flex-direction: column;
}
.second-page .main-block {
  margin-left: 10%;
}
.second-page .main-block__title {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-style: normal;
  font-weight: 250;
  font-size: 35px;
  line-height: 70px;
  text-decoration-line: underline;
}
.second-page .main-block__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.second-page .main-block__blue {
  font-weight: 250;
  font-size: 20px;
  line-height: 52px;
  color: #68acbf;
}
.second-page .main-block__premium-acc {
  text-transform: uppercase;
  color: white;
  font-size: 25px;
  line-height: 52px;
}
.second-page .main-block__premium-acc:after {
  content: "";
  display: block;
  height: 2px;
  background: white;
}
.second-page .main-block__package-name, .second-page .main-block__valid-date, .second-page .main-block__exp-date {
  margin-left: 5%;
  text-transform: uppercase;
  color: white;
  font-size: 25px;
  line-height: 52px;
}
.second-page .main-block__total {
  text-transform: uppercase;
  color: white;
  font-size: 25px;
  line-height: 52px;
}
.second-page .main-block__cards {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.second-page .main-block .block-total:after {
  content: "";
  display: block;
  height: 2px;
  background: white;
  width: 100%;
}
.second-page .main-block__card {
  display: flex;
  justify-content: start;
  align-items: center;
}
.second-page .main-block__label {
  margin-left: 5%;
}
.second-page .main-block__button {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
.second-page .main-block__submit {
  padding: 1%;
  outline: none;
  font-weight: 250;
  font-size: 25px;
  letter-spacing: 2px;
  color: #475f66;
  line-height: 44px;
  border: none;
  border-radius: 40px;
  background-color: white;
  text-transform: uppercase;
}
.second-page .main-block .main-block__submit:hover {
  transform: scale(1.2);
  cursor: pointer;
}/*# sourceMappingURL=payment.css.map */